@model ComicBookDetailsViewModel

<div class="row text-center">
    <h1 class="h1">@Model.ComicBook.Title</h1>
</div>

<div class="row">
    <div class="col-sm">
        <div class="row card">
            <div class="card-body">

                <h5>Series: </h5>
                <p>@Model.ComicBook.Series.Name</p>

                <h5>Publisher: </h5>
                <p>@Model.ComicBook.Series.Publisher.Name</p>

                <h5>Artists:</h5>
                <ul class="list-unstyled">
                    @foreach (var artist in Model.ComicBook.ComicBookArtists)
                    {
                        <li>@artist.Artist.Name: @artist.Type</li>
                    }
                </ul>

            </div>
        </div>
        <div class="row">
            <h3>Description</h3>
            <p>@Model.ComicBook.Description</p>
        </div>
    </div>
    <div class="card col-sm" style="width: 18rem;">
        <img src="/images/ComicBooks/@Model.ComicBook.Id/1.jpeg" class="card-img-top align-self-center" style="width: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="font-weight-bold">$@Model.ComicBook.Price</h5>
            <p>Release date: @Model.ComicBook.OnSaleDate.ToShortDateString()</p>
            <p>Remaining: @Model.ComicBook.Quantity</p>
            <a class="btn btn-primary mt-auto align-self-end">Add to Cart</a>
        </div>
    </div>
</div>