@model ComicBookListViewModel
@{
    Model.GetData();
}

    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                @{
                    if (Model.Page == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page-1">Previous</a>
                        </li>
                    }



                    for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i == Model.Page)
                        {
                            <li class="page-item active"><a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@i">@i</a></li>
                        }

                    }

                    if (Model.Page == Model.NumberOfPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page+1">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page+1">Next</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
    <section class="container-fluid row">
        @{
        var listCount = Model.ViewList.Count;
        for (int i = 0 + 18 * (Model.Page-1); i < Model.Page*18; i++)
        {
            if (listCount > i)
            {
                    <div class="card border-dark float-sm-left d-sm-flex justify-content-center" style="width: 18rem; height:45rem; margin:10px 10px 10px 10px;">
                        <img class="card-img-top" src="~/images/ComicBooks/@Model.ViewList[i].Id/1.jpeg" alt="Card image cap">
                        <div class="card-body flex-column d-flex">
                            <h5 class="card-title" style="font-weight:bold;">@Model.ViewList[i].Title</h5>
                            <p class="card-text">@Model.ViewList[i].ShortDescription</p>
                            <h6><b>On Sale From:</b> @Model.ViewList[i].OnSaleDate.ToShortDateString()</h6>
                            <h6 class="price">Price: $@Model.ViewList[i].Price</h6>
                            <div class="align-self-end"><a href="#" class="btn btn-primary mt-auto align-self-end">Show Details</a></div>
                        </div>
                    </div>
                }
                else
                {
                    break;
                }
            }
        }
    </section>

    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                @{
                    if (Model.Page == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page-1">Previous</a>
                        </li>
                    }



                    for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i == Model.Page)
                        {
                            <li class="page-item active"><a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@i">@i</a></li>
                        }

                    }

                    if (Model.Page == Model.NumberOfPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page+1">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="ComicBookList" asp-route-id="@Model.PublisherId" asp-route-page="@Model.Page+1">Next</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>